.individualArticle{
    background-color: #daf1da;
    padding:20px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center
}
body { background-color: #b3e6b3 }
#wrapper {
    margin-top: 20px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  width: 80%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #daf1da;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
nav{
  padding:40px;
  text-align: center;
}
.btn{
  float:right;
  background-color: white;
  margin:10px;
  position:"relative";
}
img{
  height:200px;
  width:200px
}
